body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.room-videos {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 10px;
}

.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}


.lobby form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;
}